[*.cs]

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = true:none
